name: Helm CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  helm-validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Helm Lint
        run: |
          helm lint docker-projects/web-app

      - name: Helm Template Validation
        run: |
          helm upgrade web-app docker-projects/web-app \
            -f docker-projects/web-app/values-prod.yaml \
            --dry-run=client